.card-front,
.card-back {
  position: absolute;
  width: 100%; /* Добавляем */
  height: 100%; /* Добавляем */
  border: 1px solid #49494b;
  border-radius: 5px;
  box-sizing: border-box; /* TO NOT OVERLAP */
  backface-visibility: hidden; /* FIX MOBILE FIREFOX */
  object-fit: cover; /* Это важно - изображение будет заполнять контейнер */
}

.card {
  transform: scale(1);
  transition: transform .1s;
  cursor:pointer;
  width: 100%; /* Добавляем */
  height: 100%; /* Добавляем */
  position: relative; /* Нужно для абсолютного позиционирования дочерних элементов */
}

.card:active {
  transform: scale(0.97);
  transition: transform .1s;
}

/* Остальной CSS остается без изменений */
.card-front {
  transform: rotateY(180deg);
  cursor:default;
}

.card.flip {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  cursor:default;
}

.card.match{
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  cursor:default;
}

.card_debug{
  transform: scale(1);
  transition: transform .1s;
  cursor:pointer;
  width: 100%; /* Добавляем */
  height: 100%; /* Добавляем */
  position: relative; /* Нужно для абсолютного позиционирования дочерних элементов */
  border: 3px solid black;
  border-radius: 5px;
}

.card_debug.flip_debug {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  cursor:default;
  border: 3px solid red;
  border-radius: 5px;
}

.card_debug.match_debug{
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  cursor:default;
  border: 3px solid green;
  border-radius: 5px;
}